@font-face{ font-family: Poppins; src: url(Poppins.ttf)}
@font-face{ font-family: Ouiksand; src: url(Ouiksand.ttf)}

/*/ Body & Header Styles Properties /*/
#para{cursor:default; float:center; font-family: monospace; font-size: 1.6ic; background-color: rgba(208, 255, 0, 0.644); margin-right: 3px; padding-left: 1cap; padding-right: 1cap }
#mainbtn{text-align: center; height: 3.5cap; width: 12cap; font-family: Poppins; font-style: SemiBold; font-size: large; border: 2px; border-style: solid; border-color: rgb(55, 59, 59); box-shadow: 0pc 1px 1lvi rgb(18, 20, 20); padding: 0; text-align: center}
#mainbtn:hover{background: rgb(41, 122, 122);border-color: rgb(22, 85, 85); box-shadow: 0pc 1px 1lvi rgb(41, 122, 122); color: rgb(255, 255, 255);}
#mainbtn1{text-align: center; height: 3.5cap; width: 12cap; font-family: Poppins; font-style: SemiBold; font-size: large; border: 2px; border-style: solid; border-color: rgb(55, 59, 59); box-shadow: 0pc 1px 1lvi rgb(18, 20, 20); padding: 0; text-align: center}
#mainbtn1:hover{background: rgb(41, 122, 122);border-color: rgb(22, 85, 85); box-shadow: 0pc 1px 1lvi rgb(41, 122, 122); color: rgb(255, 255, 255);}
#hedr1{border: 2px; border-style: solid; border-color: 
#b4b8b5; margin-left: 19%; margin-right: 19%; margin-top: 8.5%; margin-bottom: -10%; background-color: #ccd1cd; padding-top: 1%; padding: 8%; box-shadow: 0px 10px 1.5pc rgb(83, 94, 84);}
.div1{text-align: center; margin-top: 1.5%;}
.div1 button{cursor: pointer; animation-name: fadeInplusslideUP; animation-duration: 3.6s; float:center; position: relative; margin-top: 0.7ic; margin-right: 0.7ic;}
.div1 p{margin-bottom: 2.1ic; animation-name: fadeIn; animation-duration: 5s;}
.div1 ul{display: none; text-align:right; margin-right: 30%;}

#wisdom{cursor: default; color: black}
#parawis{cursor:default; float:center; font-family: monospace; font-size: 1.9ic; margin-right: 3px; padding-left: 1cap; padding-right: 1cap}
#imgicn1{animation-name: fadeInplusslideUP; animation-duration: 3.6s; height: 1pc;}
#imgicn2{animation-name: fadeInplusslideUP; animation-duration: 3.6s; height: 1.3pc}
#back{cursor: pointer; margin-bottom: 1px;}
.title{cursor:default; animation-name: slideLeft; animation-duration: 1.5s; text-align: center; font-family: 'Ouiksand'; font-size: 3ic; margin-bottom: -0.5pc; color: rgb(41, 37, 37); padding-bottom: 2px}
.div1 a{text-decoration: none;}
.bdy{animation-name: slideRight; animation-duration: 2s; background-image: url(https://images.pexels.com/photos/8797307/pexels-photo-8797307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-size: cover; background-attachment: fixed; background-repeat: no-repeat}
.copyright{font-family: Poppins; color:rgb(121, 126, 122); margin-top: 7ic; cursor:default}

/*/ Main Website Animations /*/

@keyframes slideLeft{from{transform: translateX(100px);}}
@keyframes slideRight{from{transform: translateX(-100px);}}
@keyframes fadeIn{from{opacity: 0;}}
@keyframes fadeInplusslideUP{from{transform: translateY(100px); opacity: 0;}}
